block-container div{
    width: 100%;
}
.css-1n76uvr {
    width:100%;
}
.css-1n76uvr {
    margin-top: -40px;
    margin-left: -150px;
}

 .stMarkdown .css-1offfwp p strong strong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    margin-left:0px;
    font-size:30px;

}
ul {
    padding-left: 1.5rem;
}

h1 {
    text-align:center;
}

h5 {
    text-align:center;
}

#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}

.e1fqkh3o5{
    /* color: blue; */
    font-size: 20px;
    font-weight: 30;
}
.css-184tjsw p{
    color: black;
    font-size: 30px;
    font-weight: 100;
}

.css-12oz5g7{
    max-width: 100%;
}
